* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  transition: all 1s;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 50%;
  height: 50%;
  border-radius: 50px;
}

header {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  position: absolute;
  top: 0px;

  h4 {
    font-size: 100px;
  }
}
